@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";

body {
  background-color: #fffcf4;
}

@layer base {
  @font-face {
    font-family: "aclonica";
    src: url("/public//fonts//Aclonica-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}

@layer utilities {
  /* 커스텀 쉐도우 */
  .shadow-flat {
    box-shadow: 2px 2px 0 0 #c79a6b;
  }
  .shadow-flat-light {
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.12);
  }
  .shadow-flat-dark {
    box-shadow: 1.5px 1.5px 0 0 #6d4c41;
  }
  .shadow-flat-heavy {
    box-shadow: 4px 4px 0 0 #6d4c41;
  }
  .shadow-right {
    box-shadow: 4px 0 0 0 rgba(42, 24, 16, 0.1);
  }
  .shadow-inner-soft {
    box-shadow: inset 4px 4px 8px 3px rgba(0, 0, 0, 0.1);
  }
  .font-aclonica {
    font-family: "aclonica";
  }
}
@theme {
  /* 텍스트 */
  --color-title-main: #5d4037;
  --color-title-main-dark: #3e2723;
  --color-title-sub: #6d4c41;
  --color-title-sub2: #8d6e63;
  --color-text-white-brown: #a1887f;
  /* 배경, 컨텐츠 */
  --color-bg-main: #fffcf4;
  --color-content-gray: #f4f4f4; /* 버튼이나, 컨텐츠에도 사용 */
  --color-content-area: #f5f1e8;
  --color-home-banner-sub: #f3c88b;
  /* 선 */
  --color-border-main: #6d4c41;
  --color-border-sub: #a1887f;
  --color-border-sub2: #4e342e;
  /* 버튼, 상태 뱃지 */
  --color-custom-red: #c63d2f;
  --color-custom-blue: #6c5bea;
  --color-custom-orange: #f3b95f;
  --color-custom-orange-dark: #e9a06f;
  --color-custom-green: #5b9a8e;
  --color-custom-dark-brown: #5c3a21;
  --color-custom-brown: #d4a574;
  --color-custom-violet: #8a6aa9;
  --color-btn-default: #fff8e1;
  --color-btn-active: #ff8a65;

  --animate-ringPulse: ringPulse 1.6s ease-in-out infinite;

  @keyframes ringPulse {
    0%,
    100% {
      box-shadow: 0 0 0 4px rgba(255, 149, 0, 0.55);
    }
    50% {
      box-shadow: 0 0 0 4px rgba(255, 149, 0, 0.15);
    }
  }
}
